.new-expense {
  background-color: #faf3e0;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 1px 8px rgb(0 0 0 / 25%);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #1e212d;
  background-color: #1e212d;
  color: #faf3e0;
  border-radius: 47px;
  margin-right: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #b68973;
  border-color: #1e212d;
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}
